body {
  /* font-family: "Helvetica", "Arial", sans-serif; */
  color: #566b78;
  line-height: 1.5;
  max-width: 50em;
  padding: 4em 1em;
  margin: 0 auto;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 50em;
}

h1 {
  text-align: center;
}

h2 {
  padding-top: 1em;
  margin-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

a {
  color: #e81c4f;
}
